/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/

:root {
    --theme-color: #f37521;
}

.scrollToTop {
    background-color: var(--theme-color);
    border: 2px solid var(--theme-color);
}

.sm-readmore-btn {
    color: #fff;
}

.sm-readmore-btn::after {
    border: 2px solid #fafafa;
}

.sm-readmore-btn:hover,
.sm-readmore-btn:focus {
    background-color: var(--theme-color);
}

.sm-readmore-btn:hover::after,
.sm-readmore-btn:focus::after {
    border-color: var(--theme-color);
}

.sm-browsmore-btn {
    color: var(--theme-color);
}

.sm-browsmore-btn:hover,
.sm-browsmore-btn:focus {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.sm-send-btn:hover,
.sm-send-btn:focus {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.sm-main-navbar .sm-main-nav li a:hover,
.sm-main-navbar .sm-main-nav li a:focus {
    color: var(--theme-color);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: var(--theme-color);
}

#sm-slider .sm-slider-area .sm-top-slider .sm-top-slider-single .sm-top-slider-content .sm-slider-small-title {
    color: var(--theme-color);
}

#sm-slider .sm-slider-area .sm-top-slider .slick-prev:hover,
#sm-slider .sm-slider-area .sm-top-slider .slick-prev:focus,
#sm-slider .sm-slider-area .sm-top-slider .slick-next:hover,
#sm-slider .sm-slider-area .sm-top-slider .slick-next:focus {
    border-color: var(--theme-color);
    background-color: var(--theme-color);
}

#sm-about-us .sm-about-us-area .sm-about-us-left ul li:before {
    color: var(--theme-color);
}

.sm-title .sm-subtitle {
    color: var(--theme-color);
}

.sm-title i {
    color: var(--theme-color);
}

.sm-title .sm-title-bar::before {
    background-color: var(--theme-color);
}

.sm-title .sm-title-bar::after {
    background-color: var(--theme-color);
}

#sm-restaurant-menu .sm-restaurant-menu-area .sm-restaurant-menu-content .sm-restaurant-menu {
    border-bottom: 1px solid var(--theme-color);
}

#sm-restaurant-menu .sm-restaurant-menu-area .sm-restaurant-menu-content .sm-restaurant-menu li a {
    background-color: var(--theme-color);
}

#sm-restaurant-menu .sm-restaurant-menu-area .sm-restaurant-menu-content .sm-restaurant-menu li a:hover,
#sm-restaurant-menu .sm-restaurant-menu-area .sm-restaurant-menu-content .sm-restaurant-menu li a:focus {
    border-color: var(--theme-color) var(--theme-color) transparent;
}

#sm-restaurant-menu .sm-restaurant-menu-area .sm-restaurant-menu-content .sm-restaurant-menu .active a,
#sm-restaurant-menu .sm-restaurant-menu-area .sm-restaurant-menu-content .sm-restaurant-menu .active a:hover,
#sm-restaurant-menu .sm-restaurant-menu-area .sm-restaurant-menu-content .sm-restaurant-menu .active a:focus {
    color: var(--theme-color);
    border-color: var(--theme-color) var(--theme-color) transparent;
}

#sm-restaurant-menu .sm-restaurant-menu-area .sm-restaurant-menu-content .sm-tab-content-area .sm-menu-item-nav li .media .media-body .media-heading a:hover,
#sm-restaurant-menu .sm-restaurant-menu-area .sm-restaurant-menu-content .sm-tab-content-area .sm-menu-item-nav li .media .media-body .media-heading a:focus {
    color: var(--theme-color);
}

#sm-restaurant-menu .sm-restaurant-menu-area .sm-restaurant-menu-content .sm-tab-content-area .sm-menu-item-nav li .media .media-body .sm-menu-price {
    color: var(--theme-color);
}

#sm-reservation .sm-reservation-area .sm-reservation-content h3 {
    border-bottom: 2px solid var(--theme-color);
}

#sm-reservation .sm-reservation-area .sm-reservation-content .sm-reservation-form input[type="text"]:focus,
#sm-reservation .sm-reservation-area .sm-reservation-content .sm-reservation-form input[type="email"]:focus {
    border-color: var(--theme-color);
}

#sm-reservation .sm-reservation-area .sm-reservation-content .sm-reservation-form select:focus {
    border-color: var(--theme-color);
}

#sm-reservation .sm-reservation-area .sm-reservation-content .sm-reservation-form textarea:focus {
    border-color: var(--theme-color);
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    background-color: var(--theme-color);
}

.datepicker table tr td.day:hover {
    background-color: var(--theme-color);
}

#sm-gallery .sm-gallery-area .sm-gallery-content .sm-gallery-top ul li:hover,
#sm-gallery .sm-gallery-area .sm-gallery-content .sm-gallery-top ul li:focus {
    background-color: var(--theme-color);
}

#sm-gallery .sm-gallery-area .sm-gallery-content .sm-gallery-top ul li:hover::after,
#sm-gallery .sm-gallery-area .sm-gallery-content .sm-gallery-top ul li:focus::after {
    border-color: var(--theme-color);
}

#sm-gallery .sm-gallery-area .sm-gallery-content .sm-gallery-top ul .active {
    background-color: var(--theme-color);
}

#sm-client-testimonial .sm-client-testimonial-area .sm-testimonial-content .sm-testimonial-slider li .sm-testimonial-single .sm-testimonial-bio p {
    font-family: "Open Sans", sans-serif;
}

#sm-client-testimonial .sm-client-testimonial-area .sm-testimonial-content .sm-testimonial-slider .slick-dots li {
    border: 2px solid var(--theme-color);
}

#sm-client-testimonial .sm-client-testimonial-area .sm-testimonial-content .sm-testimonial-slider .slick-dots .slick-active {
    background-color: var(--theme-color);
}

#sm-subscription {
    background-color: var(--theme-color);
}

#sm-subscription .sm-subscription-area .sm-subscription-form button[type="submit"]:hover {
    color: var(--theme-color);
}

#sm-chef .sm-chef-area .sm-chef-content .sm-chef-nav .slick-list li .sm-single-chef .sm-single-chef-info h4 {
    color: var(--theme-color);
}

#sm-chef .sm-chef-area .sm-chef-content .sm-chef-nav .slick-list li .sm-single-chef .sm-single-chef-social a {
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
}

#sm-chef .sm-chef-area .sm-chef-content .sm-chef-nav .slick-list li .sm-single-chef .sm-single-chef-social a:hover,
#sm-chef .sm-chef-area .sm-chef-content .sm-chef-nav .slick-list li .sm-single-chef .sm-single-chef-social a:focus {
    background-color: var(--theme-color);
}

#sm-chef .sm-chef-area .sm-chef-content .sm-chef-nav .slick-dots li {
    border: 2px solid var(--theme-color);
}

#sm-chef .sm-chef-area .sm-chef-content .sm-chef-nav .slick-dots .slick-active {
    background-color: var(--theme-color);
}

.sm-news-single h3:hover {
    color: var(--theme-color);
}

.sm-news-single h3 a:hover,
.sm-news-single h3 a:focus {
    color: var(--theme-color);
}

#sm-contact .sm-contact-area .sm-contact-content .sm-contact-left .sm-contact-form input[type="text"]:focus,
#sm-contact .sm-contact-area .sm-contact-content .sm-contact-left .sm-contact-form input[type="email"]:focus {
    border-color: var(--theme-color);
}

#sm-contact .sm-contact-area .sm-contact-content .sm-contact-left .sm-contact-form textarea:focus {
    border-color: var(--theme-color);
}

#sm-contact .sm-contact-area .sm-contact-content .sm-contact-right .sm-contact-widget h3 {
    color: var(--theme-color);
}

#sm-footer .sm-footer-area .sm-footer-social a:hover,
#sm-footer .sm-footer-area .sm-footer-social a:hover {
    background-color: var(--theme-color);
}

#sm-footer .sm-footer-area .sm-footer-copyright p a:hover,
#sm-footer .sm-footer-area .sm-footer-copyright p a:focus {
    color: var(--theme-color);
}

#sm-blog-banner .sm-blog-banner-area .breadcrumb li {
    color: var(--theme-color);
}

#sm-blog-banner .sm-blog-banner-area .breadcrumb li a {
    color: #fff;
}

#sm-blog .sm-blog-area .sm-blog-pagination-area .sm-blog-pagination li a:hover,
#sm-blog .sm-blog-area .sm-blog-pagination-area .sm-blog-pagination li a:focus {
    color: var(--theme-color);
}

#sm-blog .sm-blog-area .sm-blog-sidebar .sm-blog-sidebar-single h3:after {
    background-color: var(--theme-color);
}

#sm-blog .sm-blog-area .sm-blog-sidebar .sm-blog-sidebar-single .sm-catg-nav>li a:hover {
    color: var(--theme-color);
}

#sm-blog .sm-blog-area .sm-blog-sidebar .sm-blog-sidebar-single .tag-cloud a:hover,
#sm-blog .sm-blog-area .sm-blog-sidebar .sm-blog-sidebar-single .tag-cloud a:focus {
    color: var(--theme-color);
}

.sm-blog-details .sm-news-single>h2 {
    font-size: 28px;
    padding: 15px 20px;
}

.sm-blog-details .sm-news-single>h2 a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.sm-blog-details .sm-news-single>h2 a:hover {
    color: var(--theme-color);
}

.sm-blog-details .sm-news-single .sm-news-single-content blockquote {
    border-color: var(--theme-color);
}

.sm-blog-details .sm-news-single .sm-news-single-bottom .sm-news-single-tag .sm-news-single-tagnav li a:hover,
.sm-blog-details .sm-news-single .sm-news-single-bottom .sm-news-single-tag .sm-news-single-tagnav li a:focus {
    color: var(--theme-color);
}

.sm-blog-details .sm-news-single .sm-news-single-bottom .sm-news-single-social .sm-news-single-socialnav li a:hover,
.sm-blog-details .sm-news-single .sm-news-single-bottom .sm-news-single-social .sm-news-single-socialnav li a:focus {
    color: var(--theme-color);
}

.sm-blog-single-navigation a:hover,
.sm-blog-single-navigation a:focus {
    color: var(--theme-color);
}

.sm-comments-area .comments .commentlist li .comments-date {
    color: var(--theme-color);
}

.sm-comments-area .comments .commentlist li .reply-btn {
    background-color: var(--theme-color);
}

.sm-comments-area .comments .comments-pagination li a:hover,
.sm-comments-area .comments .comments-pagination li a:focus {
    color: var(--theme-color);
}

#respond input[type="text"]:focus,
#respond input[type="email"]:focus,
#respond input[type="url"]:focus {
    border-color: var(--theme-color);
}

#respond textarea:focus {
    border-color: var(--theme-color);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--theme-color);
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: var(--theme-color);
}


/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/